  <div class="section no-pad-bot" id="index-banner">
    <div class="container"  >
      <br><br>
      <h1 class="header center "style="color:#00897b; font-size:110px; ">NoteHost</h1>
      <div class="row center" class="z-depth-5">
         <h5 class="header col s12 light">Organize All Your Notes Into an online Notebooks</h5>
        <h5 class="header col s12 light"> & Remember evrething !</h5>
       
      </div>
      <div class="row center">
<a  href="/users/signup"><button class="btn waves-effect waves-light" type="submit" name="action">GET STARED
    <i class="material-icons right">send</i>
  </button> </a>     </div>
      <br><br>

    </div>
  </div>
 

    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4" >
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="large material-icons" style="color:#ff8a80 ;">insert_emoticon</i></h2>
            <h5 class="center">Easy to work with</h5>
            <p class="light"> 
              Evernote is great if you need extra storage and fancy features, but if you're looking for a stripped-down notes app with a clean, minimal interface, NoteHost could be for you.
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="large material-icons"style="color:#ff8a80 ;">settings</i></h2>
            <h5 class="center">Keep your secrets protected from others.</h5>

            <p class="light">
            Private Notebook is an easy to use password protected note taking app. Create, edit, delete,  the app and protect them behind a strong password. Store private notes, account passwords 
              </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class=" large material-icons" style="color:#ff8a80 ;">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>


 


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
