<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App Nodejs And Mongodb!</h1>
  <p class="lead">A simple App to manage Notes developed with Nodejs, Express, Mongodb and Javascript Technologies</p>
  <hr class="my-4">
  </p>

</div>


